.movie-poster {
    background: white;
    border-radius: 10px;
    /* NOTE: will need to preserve image aspect ratio and decide on region to show */
    height: 600px;
    width: 300px;
}

.movie-poster-button-icons {
    height: 40px;
    width: 40px;
}

.movie-poster img {
    height: 500px;
    width: 300px;
}

.movie-poster p {
    /* NOTE: actual vote count displayed here */
    color: black;
    font-size: 1.2em;
    font-weight: normal;
    /* padding: 8px 0px 5px 0px; */
}

.movie-poster button {
    /* NOTE: determine formatting here */
    height: 50px;
    width: 50px;
}

